.home{
    color: #ffffff;
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.678)),url(../../resource/img/home.jpg);
    background-position: top top;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 576px) {
    .left_side h1{
        font-size: 25px;
    }
}